---
import Layout from '../layouts/Layout.astro';
import SocialLinks from '../components/SocialLinks.astro';
---

<Layout title="Simon Attfield" description="Homepage of simonattfield.com" canonical="https://www.simonattfield.com/">
	<section>
    <h1 class="text-8xl font-display text-light-purple mb-10">Hello, <span class="text-almost-white block">I'm Simon</span></h1>
    <p class="text-light-purple text-3xl mb-10 font-sans">A front end web developer based in the D.C. Metro&nbsp;area.</p>
    <div class="xl:hidden">
      <SocialLinks />
    </div>
    <p class="text-light-purple text-xl font-sans font-light leading-8">
      Proficient in Typescript/Javascript, Web Components, HTML/CSS, AngularJS, Nuxt/Vue,
      and most recently Next.JS with headless Wordpress and Tailwind CSS (and let's not forget
      Astro, which I used for this site). I try to keep my eyes on emerging trends, and encourage experimentation,
      while always championing the "right tool for the job".
    </p>
    <div class="group relative inline-block cursor-pointer my-8">
      <a href="/projects/" class="text-almost-white text-xl font-sans font-light leading-8 py-3 px-5 inline-block bg-purple rounded relative overflow-hidden">
        See some of my work
        <span class="absolute top-0 -left-[120%] h-full w-full z-20 -skew-x-[20deg] block transform bg-gradient-to-r from-transparent to-almost-white opacity-30 group-hover:animate-shine group-focus-within:animate-shine"></span>
      </a>
    </div>
    <p class="text-light-purple text-xl font-sans font-light mb-5 leading-8">
      With over 6 years experience working for R/GA at Google on several of
      their largest marketing sites, I've developed a passion for clean, readable, and
      maintainable code with a focus on accessibility and user-centric interactions. With
      a keen eye for detail and excellent communication skills, I pride myself on easily
      developing strong working relationships with clients and colleagues alike, with a
      confident, outgoing, enthusiastic and approachable attitude.
    </p>
  </section>
</Layout>
