---
import Layout from "../layouts/Layout.astro";
// import { Picture } from "astro-imagetools/components";
import {Content as Gads} from '../components/projects/google-ads.mdx';
import {Content as G4SB} from '../components/projects/g4sb.mdx';
import {Content as Elevance} from '../components/projects/elevance.mdx';

const projects = [
  Gads,
  G4SB,
  Elevance,
]
---

<Layout title="Simon Attfield: Projects" description="See a shortlist of past projects">
  <h1 class="text-almost-white text-6xl font-display mb-10">Projects</h1>
  <div class="prose prose-lg prose-a:text-almost-white prose-h2:text-4xl prose-p:text-light-purple">
    {projects.map((Project) => <Project />)}
  </div>
</Layout>
