---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Projects page">
  <div class="max-w-screen-xl m-auto">
    <h1 class="text-xl mb-10 mt-10 font-display text-almost-white">PROJECTS PAGE</h1>
  </div>
</Layout>