---
import Layout from "../layouts/Layout.astro"

---

<Layout title="resume page">
  <div class="max-w-screen-xl m-auto">
    <h1 class="text-xl mb-10 mt-10 font-display text-almost-white">RESUME PAGE</h1>
  </div>
</Layout>