---
import Nav from '../components/nav/Nav.astro';

export interface Props {
	title: string;
}

const currentPage = Astro.url.pathname;

console.log(`currentPage`, currentPage);

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-deep-purple">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Raleway:wght@300;500&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<main class="grid grid-cols-1 grid-rows-[80px_1fr] xl:grid-cols-[450px_1fr] xl:pt-32 max-w-screen-xl m-auto">
      <Nav></Nav>
      <div id="swup" class="transition-fade px-8 sm:px-20 md:px-32 xl:px-10 py-20 xl:py-10">
        <slot />
      </div>
		</main>
		<script src="https://unpkg.com/swup@3"></script>
		<!-- <script type="module" src="/app.js"></script> -->
	</body>
</html>

<style is:global>
	html.is-animating .transition-fade {
		opacity: 0;
	}

	.transition-fade {
		transition: 0.8s;
		opacity: 1;
	}
</style>

<script>
	import Swup from 'swup';
  import SwupSlideTheme from '@swup/slide-theme';

	const swup = new Swup({
    plugins: [new SwupSlideTheme({
			reversed: true
		})]
  });
</script>
