---
const navItems = [
  {
    text: 'Resume',
    path: '/resume/',
    icon: '<svg height="64" viewBox="0 0 32 32" width="64" xmlns="http://www.w3.org/2000/svg"><path d="m27 0h-24c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h24c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zm-1 28h-22v-24h22zm-18-10h14v2h-14zm0 4h14v2h-14zm2-13c0-1.657 1.343-3 3-3s3 1.343 3 3-1.343 3-3 3-3-1.343-3-3zm5 3h-4c-1.65 0-3 .9-3 2v2h10v-2c0-1.1-1.35-2-3-2z"/></svg>'
  },
  {
    text: 'Home',
    path: '/',
    icon: '<svg height="64" viewBox="0 0 32 32" width="64" xmlns="http://www.w3.org/2000/svg"><path d="m32 18.451-16-12.42-16 12.42v-5.064l16-12.42 16 12.42zm-4-.451v12h-8v-8h-8v8h-8v-12l12-9z"/></svg>',
  },
  {
    text: 'Projects',
    path: '/projects/',
    icon: '<svg height="64" viewBox="0 0 32 32" width="64" xmlns="http://www.w3.org/2000/svg"><path d="m28 4v26h-21c-1.657 0-3-1.343-3-3s1.343-3 3-3h19v-24h-20c-2.2 0-4 1.8-4 4v24c0 2.2 1.8 4 4 4h24v-28z"/><path d="m7.002 26c-.001 0-.001 0-.002 0-.552 0-1 .448-1 1s.448 1 1 1h.002 18.997v-2z"/></svg>'
  }
]
---

<nav class="grid grid-cols-3 gap-0.5">
  {navItems.map((item) => (
    <a href={item.path} class="btn btn-1 min-h-full bg-purple flex items-center justify-center">
      <span class="icon hidden lg:block" aria-hidden="true" set:html={item.icon}></span>
      <p>{item.text}</p>
    </a>
  ))}
  <!-- <button class="btn btn-2 bg-purple">
    <span class="icon">
      
    </span>
  </button>
  <button class="btn btn-3 bg-purple">
    <span class="icon">
      
    </span>
  </button> -->
</nav>

